---
title: Look Portrait - Athletics
---
<div class="main">
    <aside class='image-gallery-aside'>
        <p class="top"><%= lorem.paragraph %></p>
    </aside>
    <article class="image-gallery-section">
        <div class="picture-container">
            <%= image_tag lorem.image(750x600), :alt=>'Photo', :class=>'pictures' %>
        </div>
    </article>
</div> <!-- #main -->