---
title: No images template
---
<div class="main">
    <article>
        <section>
            <h2>Resources</h2>
            <p>Put you FAQ's, etc, in here. This is just a standard paragraph tag with no styling.  So this page looks kind of blank.</p>
        </section>
    </article>
</div>